/.idea/workspace.xml
/__pycache__/appConstants.cpython-36.pyc
/appConstants.py
/libs/__pycache__/__init__.cpython-36.pyc
/libs/__pycache__/adb.cpython-36.pyc
/libs/__pycache__/checker.cpython-36.pyc
/libs/__pycache__/outlook.cpython-36.pyc
/libs/__pycache__/qqmail.cpython-36.pyc
/libs/__pycache__/utils.cpython-36.pyc
/oa/__pycache__/__init__.cpython-36.pyc
/oa/__pycache__/oa.cpython-36.pyc
/simulator/__pycache__/__init__.cpython-36.pyc
/simulator/__pycache__/leidian.cpython-36.pyc
/temp/result.jpg
